
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header{
	background: rgb(68, 15, 84);
	height: 6em;
	margin-bottom: 3em;
}

body{
	background: black;
}

.header-title{
	font-size: 1.5em;
	line-height: 4em;
	text-align: center;
	color: rgb(217, 201, 221);
}

form{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 5px;
}

form button{
	margin: 5px;
}
.text-editor{
	text-align:center;
}

#output{
	background: white;
	width: 70%;
	border-radius: 2%;
	outline: none;
	border: none;
}

.active{
	background: rgb(64, 34, 73);
}

button{
	border: none;
	outline:none;
	width: 2.5em;
	height: 2.5em;
	background: rgb(122, 74, 137);
	border-radius: 10%;
	margin-bottom: 0.5em;
	color: white;
	cursor: pointer;
}

.text-area{
	width: 70%;
	margin: auto;
	height: 150px;
	background: white;
	padding: 0.2em;
	border-radius: 3%;
}